https://open-meteo.com/en/docs/historical-weather-api#start_date=2010-01-01&end_date=2019-12-31&daily=weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours&temperature_unit=fahrenheit&timezone=America%2FNew_York

In [ ]:
!pip install retry
!pip install openmeteo-requests
!pip install requests-cache

In [ ]:
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 52.52,
	"longitude": 13.41,
	"start_date": "2010-01-01",
	"end_date": "2019-12-31",
	"hourly": "temperature_2m",
	"daily": ["weather_code", "temperature_2m_max", "temperature_2m_min", "temperature_2m_mean", "apparent_temperature_max", "apparent_temperature_min", "apparent_temperature_mean", "sunrise", "sunset", "daylight_duration", "sunshine_duration", "precipitation_sum", "rain_sum", "snowfall_sum", "precipitation_hours"],
	"temperature_unit": "fahrenheit",
	"timezone": "America/New_York"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

# Process daily data. The order of variables needs to be the same as requested.
daily = response.Daily()
daily_weather_code = daily.Variables(0).ValuesAsNumpy()
daily_temperature_2m_max = daily.Variables(1).ValuesAsNumpy()
daily_temperature_2m_min = daily.Variables(2).ValuesAsNumpy()
daily_temperature_2m_mean = daily.Variables(3).ValuesAsNumpy()
daily_apparent_temperature_max = daily.Variables(4).ValuesAsNumpy()
daily_apparent_temperature_min = daily.Variables(5).ValuesAsNumpy()
daily_apparent_temperature_mean = daily.Variables(6).ValuesAsNumpy()
daily_sunrise = daily.Variables(7).ValuesAsNumpy()
daily_sunset = daily.Variables(8).ValuesAsNumpy()
daily_daylight_duration = daily.Variables(9).ValuesAsNumpy()
daily_sunshine_duration = daily.Variables(10).ValuesAsNumpy()
daily_precipitation_sum = daily.Variables(11).ValuesAsNumpy()
daily_rain_sum = daily.Variables(12).ValuesAsNumpy()
daily_snowfall_sum = daily.Variables(13).ValuesAsNumpy()
daily_precipitation_hours = daily.Variables(14).ValuesAsNumpy()

daily_data = {"date": pd.date_range(
	start = pd.to_datetime(daily.Time(), unit = "s", utc = True),
	end = pd.to_datetime(daily.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = daily.Interval()),
	inclusive = "left"
)}
daily_data["weather_code"] = daily_weather_code
daily_data["temperature_2m_max"] = daily_temperature_2m_max
daily_data["temperature_2m_min"] = daily_temperature_2m_min
daily_data["temperature_2m_mean"] = daily_temperature_2m_mean
daily_data["apparent_temperature_max"] = daily_apparent_temperature_max
daily_data["apparent_temperature_min"] = daily_apparent_temperature_min
daily_data["apparent_temperature_mean"] = daily_apparent_temperature_mean
daily_data["sunrise"] = daily_sunrise
daily_data["sunset"] = daily_sunset
daily_data["daylight_duration"] = daily_daylight_duration
daily_data["sunshine_duration"] = daily_sunshine_duration
daily_data["precipitation_sum"] = daily_precipitation_sum
daily_data["rain_sum"] = daily_rain_sum
daily_data["snowfall_sum"] = daily_snowfall_sum
daily_data["precipitation_hours"] = daily_precipitation_hours

daily_dataframe = pd.DataFrame(data = daily_data)

In [6]:
daily_dataframe

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours
0,2010-01-01 04:00:00+00:00,73.0,29.100201,25.680201,27.270201,20.624077,17.731846,19.204363,0,0,27930.373047,0.000000,1.4,0.0,1.12,10.0
1,2010-01-02 04:00:00+00:00,71.0,29.820200,17.130199,24.990202,21.822956,10.260103,17.206949,0,0,28005.279297,2114.824707,0.8,0.0,0.98,6.0
2,2010-01-03 04:00:00+00:00,3.0,23.250200,15.330198,19.323948,16.170828,8.092146,12.646119,0,0,28086.097656,12470.874023,0.0,0.0,0.00,0.0
3,2010-01-04 04:00:00+00:00,3.0,20.640200,14.880199,18.562698,11.898151,7.405588,10.283494,0,0,28172.716797,0.000000,0.0,0.0,0.00,0.0
4,2010-01-05 04:00:00+00:00,3.0,22.260201,9.210199,16.293949,14.272869,0.686199,8.046033,0,0,28265.037109,16419.517578,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2019-12-27 04:00:00+00:00,3.0,39.215302,32.375301,36.297802,34.210724,25.700867,29.719831,0,0,27620.947266,7040.663574,0.0,0.0,0.00,0.0
3648,2019-12-28 04:00:00+00:00,3.0,35.885300,25.445301,31.115303,28.915243,18.574793,24.611382,0,0,27662.996094,20937.144531,0.0,0.0,0.00,0.0
3649,2019-12-29 04:00:00+00:00,3.0,34.985298,26.075300,31.985300,26.641701,19.516964,24.215660,0,0,27712.035156,21436.205078,0.0,0.0,0.00,0.0
3650,2019-12-30 04:00:00+00:00,3.0,44.525299,34.715302,40.077801,34.933960,25.453432,30.134926,0,0,27767.908203,15624.591797,0.0,0.0,0.00,0.0
3651,2019-12-31 04:00:00+00:00,51.0,45.155300,32.645302,40.044056,37.132523,26.348711,32.423740,0,0,27830.455078,19790.259766,0.6,0.6,0.00,2.0